rabbitDSN: "amqp://user:password@rmq"
storageDSN: "redis://redis.local/?key=storage:key"
log:
  level: info
  format: json
  output: stderr
kafka:
  brokers:
    - "192.0.0.1:9092"
    - "192.0.0.2:9092"
  # The total number of times to retry sending a message.
  # Should be similar to the `message.send.max.retries` setting of the JVM producer.
  maxRetry: 5
  pipesConfig: "/etc/kandalf/conf/pipes.yml"
stats:
  dsn: "statsd://statsd.local:8125/kandalf"
worker:
  cycleTimeout: "2s"
  cacheSize: 10
  cacheFlushTimeout: "5s"
  storageReadTimeout: "10s"
  storageMaxErrors: 10
